<?xml version="1.0" encoding="UTF-8"?>
<!-- 加入了p命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.huskyshare.backend"/>

    <!-- 配置SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="hibernate.cfg.xml"/>
    </bean>
    <!-- 配置hibernate操作模板类 -->
    <bean name="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userDao" class="com.huskyshare.backend.hibernate.dao.UserDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="userService" class="com.huskyshare.backend.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>


    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 配置事务拦截器 -->
    <bean name="tranInterceptor" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
    <property name="transactionManager" ref="transactionManager"></property>
    <property name="transactionAttributes">
        <props>
            <!-- 事务传播属性，事务隔离级别, 方法属性值，控制提交回滚操作 （+Exception强制提交，-Exception回滚）-->
            <!-- <prop key="*">PROPAGATION_REQUIRED,,,</prop> -->
            <prop key="*">PROPAGATION_REQUIRED</prop>
        </props>
    </property>
    <property name="target" ref="userService"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>