<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <th:block th:include=":: #pageTitle"/>
        | HuskyShare
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/static/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link href="/static/css/landing-page.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/"><img src="/static/img/Logos/icon.png" alt="logo" style="width:25px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-collapse" class="collapse navbar-collapse">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/items">Items</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/">I Need</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/lend">I Have</a>
            </li>

            <li class="nav-item dropdown" th:if="${username != null}">
                <a class="nav-link dropdown-toggle" th:text="${username}" href="#" id="profileDropdown"
                   data-toggle="dropdown">Profile</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">My Home Page</a>
                    <a class="dropdown-item" href="/logout">Log out</a>
                </div>
            </li>
            <th:block th:if="${username == null}">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>

</body>
</html>