<?xml version="1.0" encoding="UTF-8"?>
<!-- 加入了p命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 修改过后请将文件手动放到target/classes目录下，要不检测不到（哪个O大的解决一下？） -->


    <!-- User Bean p 表达式注入-->
    <bean name="userContructedBySpring" class="com.huskyshare.backend.model.user.User"
          p:username="ImAUserUsingP"></bean>

    <!-- SpEL的属性注入 -->
    <bean id="userContructedBySpringSpEL" class="com.huskyshare.backend.model.user.User">
        <property name="username" value="#{'SpELUser'}"></property>
        <property name="id" value="#{1+1}"></property>
    </bean>

    <bean id="appUtil" class="com.huskyshare.backend.spring.aware.UserApplicationContext" lazy-init="false"/>
</beans>