.form-container {
    padding: 2.5em 5%;
}

.sub-form-container {
    background-color: #f0f0f0;
    padding: 1.5em 5em;
}

.placeholder-strong::placeholder {
    font-weight: 500;
    color: #939393;
}

.input-invalid {
    color: red;
    display: none;
}

.error-div {
    padding-top: 4em;
}

li:not(:last-child) {
    margin-bottom: 0.7em;
}

@media (max-width: 992px) {
    .error-div {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}