<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/base :: head"/>
    <title id="pageTitle">Home</title>
    <!-- Particles JS -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/static/js/animate.js"></script>
    <link rel="stylesheet" href="/static/css/particles.css">
</head>
<style>
    .ml-auto .dropdown-menu {
        left: auto !important;
        right: 0;
    }
</style>

<body>
<!-- Navigation Bar -->
<nav th:replace="fragments/base :: navbar">Navigation Bar</nav>

<main class="container-fluid">
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
        <img class="img-fluid d-block mx-auto" src="../static/img/Logos/HuskyShare.png" alt="Logo">
    </header>

    <!-- Content section -->
    <section class="py-5">
        <div class="container">
            <h1>HuskyShare</h1>
            <p class="lead">A New Way to Maximize Efficiency</p>
            <p>Sharing is caring. This is a platform where you can share extra items while earning rent. Joining
                HuskyShare allows you to fully maximize item usage.</p>
        </div>
    </section>

    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <!--<div class="count-particles">-->
        <!--<span class="js-count-particles">&#45;&#45;</span> particles-->
    <!--</div>-->

    <!-- Content section -->
    <section class="py-5">
        <div class="container">
            <h1>To Share is to Gain</h1>
            <p class="lead">Convenient. Instant. Efficient.</p>
            <p>Share the things you don't need at the moment while achieving your personal needs using nearby
                resources.</p>
        </div>
    </section>
</main>

</body>
</html>